body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
}

span {
    color: #1ac056;
}

h1, h2 {
    color: lightgrey;
    font-family: 'Roboto', sans-serif;
}



#main-nav ul > li {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;
    right: 50px;
    display: inline-block;
}

#main-nav ul {
    text-align: right;
    color: #1ac056;
    font-family: 'Roboto';
}

#header img {
    width: 100%;
    position: fixed;
}

#about > h2 {
    text-align: center;
}

#about figure > img {
    width: 250px;
    height: 250px;
    float: left;
}

#about article > p {
    text-align: right;
}